<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Finance.billsappflutter">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <application>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3969397110418936~4895813586" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
