<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006447338874-de1961ihj8mk9s6l41th5bkn6e4qnbj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006447338874-de1961ihj8mk9s6l41th5bkn6e4qnbj4</string>
	<key>API_KEY</key>
	<string>AIzaSyDJrKQVDfryFJDWRigsFI3Zug1rxgm-ZTM</string>
	<key>GCM_SENDER_ID</key>
	<string>1006447338874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Finance.billsappflutter.free</string>
	<key>PROJECT_ID</key>
	<string>billsapp-11a23</string>
	<key>STORAGE_BUCKET</key>
	<string>billsapp-11a23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006447338874:ios:b30ccb22357159583462c3</string>
	<key>DATABASE_URL</key>
	<string>https://billsapp-11a23.firebaseio.com</string>
	<key>GADApplicationIdentifier</key>
    <string>ca-app-pub-3969397110418936~4390995672</string>
</dict>
</plist>
